-- =====================================================
-- ПРОВЕРКА И ОБЪЕДИНЕНИЕ БАЗЫ ДАННЫХ SPOR3S
-- Безопасная проверка существующих таблиц и добавление новых
-- =====================================================

-- 1. Анализ существующих таблиц
SELECT 
    table_name,
    CASE 
        WHEN table_name IN ('users', 'messages', 'orders', 'products', 'tg_link_codes') THEN 'CORE'
        WHEN table_name IN ('challenges', 'coin_transactions', 'daily_activities', 'daily_checkins', 'instructions', 'level_config', 'notification_consent', 'reminders', 'sc_transactions', 'supplement_checkins', 'surveys', 'user_levels', 'weekly_reviews', 'youtube_verification_requests') THEN 'FEATURES'
        WHEN table_name IN ('ai_prompts', 'reminder_scenarios', 'gamification_rules', 'dialog_scenarios', 'product_content', 'system_settings') THEN 'CONTENT_MANAGEMENT'
        ELSE 'OTHER'
    END as category
FROM information_schema.tables 
WHERE table_schema = 'public'
AND table_type = 'BASE TABLE'
ORDER BY category, table_name;

-- 2. Проверка ключевых таблиц
DO $$
BEGIN
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'users') THEN
        RAISE NOTICE '✅ users существует';
    ELSE
        RAISE NOTICE '❌ users отсутствует';
    END IF;
    
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'messages') THEN
        RAISE NOTICE '✅ messages существует';
    ELSE
        RAISE NOTICE '❌ messages отсутствует';
    END IF;
    
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'orders') THEN
        RAISE NOTICE '✅ orders существует';
    ELSE
        RAISE NOTICE '❌ orders отсутствует';
    END IF;
END $$;

-- 3. Создание новых таблиц (если не существуют)

-- AI Промпты
CREATE TABLE IF NOT EXISTS ai_prompts (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name VARCHAR(100) NOT NULL UNIQUE,
    description TEXT,
    content TEXT NOT NULL,
    version INTEGER DEFAULT 1,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Сценарии напоминаний
CREATE TABLE IF NOT EXISTS reminder_scenarios (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name VARCHAR(100) NOT NULL UNIQUE,
    trigger_type VARCHAR(50) NOT NULL,
    trigger_time TIME DEFAULT '07:00:00',
    trigger_days INTEGER[],
    message_template TEXT NOT NULL,
    variables JSONB DEFAULT '{}',
    is_active BOOLEAN DEFAULT true,
    priority INTEGER DEFAULT 1,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Правила геймификации
CREATE TABLE IF NOT EXISTS gamification_rules (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name VARCHAR(100) NOT NULL UNIQUE,
    rule_type VARCHAR(50) NOT NULL,
    trigger_condition JSONB NOT NULL,
    reward_type VARCHAR(50) NOT NULL,
    reward_value INTEGER NOT NULL,
    message_template TEXT NOT NULL,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Диалоговые сценарии
CREATE TABLE IF NOT EXISTS dialog_scenarios (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name VARCHAR(100) NOT NULL UNIQUE,
    scenario_type VARCHAR(50) NOT NULL,
    trigger_keywords TEXT[],
    ai_prompt_id UUID REFERENCES ai_prompts(id),
    fallback_message TEXT,
    is_active BOOLEAN DEFAULT true,
    priority INTEGER DEFAULT 1,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Контент продуктов
CREATE TABLE IF NOT EXISTS product_content (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    product_id VARCHAR(50) NOT NULL,
    content_type VARCHAR(50) NOT NULL,
    content TEXT NOT NULL,
    language VARCHAR(10) DEFAULT 'ru',
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Системные настройки
CREATE TABLE IF NOT EXISTS system_settings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    setting_key VARCHAR(100) NOT NULL UNIQUE,
    setting_value JSONB NOT NULL,
    description TEXT,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. Создание индексов
CREATE INDEX IF NOT EXISTS idx_ai_prompts_active ON ai_prompts(is_active);
CREATE INDEX IF NOT EXISTS idx_ai_prompts_name ON ai_prompts(name);
CREATE INDEX IF NOT EXISTS idx_reminder_scenarios_active ON reminder_scenarios(is_active);
CREATE INDEX IF NOT EXISTS idx_reminder_scenarios_type ON reminder_scenarios(trigger_type);
CREATE INDEX IF NOT EXISTS idx_gamification_rules_active ON gamification_rules(is_active);
CREATE INDEX IF NOT EXISTS idx_gamification_rules_type ON gamification_rules(rule_type);
CREATE INDEX IF NOT EXISTS idx_dialog_scenarios_active ON dialog_scenarios(is_active);
CREATE INDEX IF NOT EXISTS idx_dialog_scenarios_type ON dialog_scenarios(scenario_type);
CREATE INDEX IF NOT EXISTS idx_product_content_active ON product_content(is_active);
CREATE INDEX IF NOT EXISTS idx_product_content_product ON product_content(product_id);
CREATE INDEX IF NOT EXISTS idx_system_settings_active ON system_settings(is_active);
CREATE INDEX IF NOT EXISTS idx_system_settings_key ON system_settings(setting_key);

-- 5. Создание триггеров
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

CREATE TRIGGER update_ai_prompts_updated_at 
    BEFORE UPDATE ON ai_prompts 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_reminder_scenarios_updated_at 
    BEFORE UPDATE ON reminder_scenarios 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_gamification_rules_updated_at 
    BEFORE UPDATE ON gamification_rules 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_dialog_scenarios_updated_at 
    BEFORE UPDATE ON dialog_scenarios 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_product_content_updated_at 
    BEFORE UPDATE ON product_content 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_system_settings_updated_at 
    BEFORE UPDATE ON system_settings 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- 6. Вставка базовых данных (без конфликтов)

-- Сценарии напоминаний

-- Правила геймификации

-- Системные настройки

-- Диалоговые сценарии

-- 7. Настройка RLS
ALTER TABLE ai_prompts ENABLE ROW LEVEL SECURITY;
ALTER TABLE reminder_scenarios ENABLE ROW LEVEL SECURITY;
ALTER TABLE gamification_rules ENABLE ROW LEVEL SECURITY;
ALTER TABLE dialog_scenarios ENABLE ROW LEVEL SECURITY;
ALTER TABLE product_content ENABLE ROW LEVEL SECURITY;
ALTER TABLE system_settings ENABLE ROW LEVEL SECURITY;

-- Политики для чтения
CREATE POLICY "Allow read active ai_prompts" ON ai_prompts
    FOR SELECT USING (is_active = true);

CREATE POLICY "Allow read active reminder_scenarios" ON reminder_scenarios
    FOR SELECT USING (is_active = true);

CREATE POLICY "Allow read active gamification_rules" ON gamification_rules
    FOR SELECT USING (is_active = true);

CREATE POLICY "Allow read active dialog_scenarios" ON dialog_scenarios
    FOR SELECT USING (is_active = true);

CREATE POLICY "Allow read active product_content" ON product_content
    FOR SELECT USING (is_active = true);

CREATE POLICY "Allow read active system_settings" ON system_settings
    FOR SELECT USING (is_active = true);

-- Политики для service role
CREATE POLICY "Allow service role full access ai_prompts" ON ai_prompts
    FOR ALL USING (auth.role() = 'service_role');

CREATE POLICY "Allow service role full access reminder_scenarios" ON reminder_scenarios
    FOR ALL USING (auth.role() = 'service_role');

CREATE POLICY "Allow service role full access gamification_rules" ON gamification_rules
    FOR ALL USING (auth.role() = 'service_role');

CREATE POLICY "Allow service role full access dialog_scenarios" ON dialog_scenarios
    FOR ALL USING (auth.role() = 'service_role');

CREATE POLICY "Allow service role full access product_content" ON product_content
    FOR ALL USING (auth.role() = 'service_role');

CREATE POLICY "Allow service role full access system_settings" ON system_settings
    FOR ALL USING (auth.role() = 'service_role');

-- 8. Финальная проверка
SELECT 'ИТОГОВЫЙ ОТЧЕТ' as report_type, 'База данных проверена и настроена' as message;

-- Проверяем все таблицы
SELECT 
    table_name,
    CASE 
        WHEN table_name IS NOT NULL THEN '✅ Готова'
        ELSE '❌ Ошибка'
    END as status
FROM information_schema.tables 
WHERE table_name IN (
    'users', 'messages', 'orders', 'products', 'tg_link_codes',
    'ai_prompts', 'reminder_scenarios', 'gamification_rules',
    'dialog_scenarios', 'product_content', 'system_settings'
)
AND table_schema = 'public'
ORDER BY table_name;

-- Подсчет записей в новых таблицах
SELECT 'ai_prompts' as table_name, COUNT(*) as record_count FROM ai_prompts
UNION ALL
SELECT 'reminder_scenarios', COUNT(*) FROM reminder_scenarios
UNION ALL
SELECT 'gamification_rules', COUNT(*) FROM gamification_rules
UNION ALL
SELECT 'dialog_scenarios', COUNT(*) FROM dialog_scenarios
UNION ALL
SELECT 'system_settings', COUNT(*) FROM system_settings
ORDER BY table_name;
